#wrap {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 536px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid #000;
}
#wrap .upper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 700px;
}
#wrap .upper .side {
  display: inline-block;
  width: 66px;
  height: 700px;
  text-align: center;
  background-color: #ebebec;
}
#wrap .upper .side p {
  background-color: #ececed;
}
#wrap .upper .side p i {
  font-size: 40px;
  color: #343740;
}
#wrap .upper .side p i:hover {
  color: #909297;
}
#wrap .upper .side p:nth-of-type(2) i {
  animation: twinkle 0.2s infinite alternate;
}
@keyframes twinkle {
  from {
    color: #0f0;
  }
  to {
    color: #0040ff;
  }
}
#wrap .upper .main {
  width: 450px;
  margin-bottom: 200px;
  padding: 0 10px;
}
#wrap .upper .main .users {
  height: 100%;
}
#wrap .upper .main .users h1 {
  font-size: 30px;
}
#wrap .upper .main .users p a i:hover {
  background-color: lawngreen;
  border-radius: 50%;
}
#wrap .upper .main .users p a i {
  padding: 10px;
  color: #bfbfbf;
  font-size: 20px;
}
#wrap .upper .main .friends > a > div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
}
#wrap .upper .main .friends > a > div > span {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  text-indent: -9999px;
  background-image: url(../images/seoul.gif);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
#wrap .upper .main .friends > a > div p:nth-of-type(1) {
  position: absolute;
  left: 100px;
  margin-right: 150px;
  line-height: 2;
  font-weight: 900;
}
#wrap .upper .main .friends > a > div p:nth-of-type(1) span {
  font-size: 15px;
}
#wrap .upper .main .friends > a > div p:nth-of-type(2) {
  font-size: 13px;
}
#wrap .upper .main .friends > a > div p:nth-of-type(2) a {
  padding: 5px;
}
#wrap .upper .main .friends a:link,
#wrap .upper .main .friends a:visited {
  display: block;
  color: #000;
  text-decoration: none;
}
#wrap .upper .main .friends a:link p:last-child,
#wrap .upper .main .friends a:visited p:last-child {
  color: darkgray;
}
#wrap .upper .main a:nth-of-type(2) > .friend span:first-child {
  background-image: url(../images/classic.gif);
  background-position: -29px -24px;
  background-size: 130px;
}
#wrap .upper .main a:nth-of-type(3) > .friend span:first-child {
  background-image: url(../images/pet.gif);
  background-position: -30px -10px;
  background-size: 132px;
}
#wrap .upper .main a:nth-of-type(4) > .friend span:first-child {
  background-image: url(../images/clova.gif);
  background-position: -19px -14px;
  background-size: 110px;
}
#wrap .upper .main .me:hover,
#wrap .upper .main .friend:hover {
  background-color: lightgray;
}
#wrap .upper .main .me:active p:first-child,
#wrap .upper .main .friend:active p:first-child {
  color: #000;
}
#wrap .upper .main .me:active p:last-child,
#wrap .upper .main .friend:active p:last-child {
  color: darkgray;
}

.ad p a {
  position: absolute;
  left: -1px;
  bottom: -100px;
  float: inline-end;
  width: 536px;
  height: 139px;
  text-indent: -9999px;
  background-image: url(../images/ad2.gif);
  background-position: -3px 139px;
  background-size: cover;
  border: 1px solid #000;
}/*# sourceMappingURL=styleWith.css.map */